html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:#0A192F;
    color: #c8defa;

}

* {
  box-sizing: border-box;
}

a {
  color: #75b1ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.things {
  color:#75b1ff;
  text-decoration: none;
}

.contact {
  color:#F5E6D8;
  text-decoration: none;
  
}