html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color:#0A192F;
    color: #c8defa;
    .bodyText{
  text-align: left;

}

}

* {
  box-sizing: border-box;


}

a {
  color: #75b1ff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p{

  text-align: left;


}
img {
  max-width: 100%;
  display: block;
    border-radius: 5px;
        margin: 0 auto;
}

.things {
  color:#75b1ff;
  text-decoration: none;
}

.contact {
  color:#F5E6D8;
  text-decoration: none;
  
}

.bodyText{
  text-align: left;

}